.input {
    padding: 7px 12px;
    border-radius: 15px;
    background: rgb(226 232 240);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: background .2s linear;

    &:hover, &:focus {
        background: rgb(241, 247, 255);
        &::placeholder {
            color: rgb(133, 155, 185);
        }
    }
    &::placeholder {
        color: rgb(133, 155, 185);
    }
}